.orderSuccess {
    width: 100vw;
    max-width: 100%;
    height: 80vh;
    background-color: white;
    /*display: grid;
    /* grid-template-columns: 6fr 3fr; */
    /* flex-direction: column; */
    position: absolute;
}

.orderSuccess>i {
    font-size: 70px;
    color: green;
    margin-left: 700px;
    margin-top: 20px;
}

.orderSuccess>h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.orderSuccess>a {
    background-color: rgb(4, 97, 238);
    color: white;
    border: none;
    padding: 0.8rem 3rem;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2vmax;
    border-radius: 4px;
}

.btn_success{
    background-color: rgb(205 149 12);
    width: 20%;
    height: 8%;
    margin: 50px 0 0 580px;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    border: none;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    .orderSuccess>a {
        padding: 3vw 6vw;
        font-size: 15px;
        margin: 2rem;
    }

    .orderSuccess>i {
        font-size: 50px;
    }

    .orderSuccess>p {
        margin: 2rem;
        font-size: 20px;
    }
}