.shippingContainer {
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    height:300vh;
    max-height: 100%;
    display: flex;
    background-color: white;
    margin-top:-2%;
}

.shippingBox {
    background: rgba(238 232 205);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(70, 67, 67, 0.3);
    border-width: 4px;
    border-color: rgb(122 197 205);
    height: 80%;
    width: 20%;
    border-radius: 1.5rem;
    padding: 5rem 1.75rem;
    min-width: max-content;
    flex-shrink: 0;
}

.shippingBox h1{
    text-align: center;
    color: blue;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -20px;
}

.shippingHeading {
    text-align: center;
    color: rgb(4, 97, 238);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    width: 100%;
    margin: auto;
}

.form {
    width: 400px;
    height: 100%;
}

.textbox1{
    border-width: 0px;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    width: 100%;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 20px;
}

.textbox2{
    border-width: 0px;
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    width: 100%;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 10px;
}

.shippingBtn {
    border: none;
    background-color: rgb(205 149 12);
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 0.7rem;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    margin-top: 3rem;
    border-radius: 4px;
}

.shippingBtn:hover {
    background-color: tomato;
}

@media screen and (max-width: 600px) {
    .shippingBox {
        width: 90vw;
        height: 60vh;
        margin-top: 20%;
    }

    .shippingHeading {
        font-size: 20px;
        padding: 2rem;
    }

    .shippingForm {
        padding: 4rem;
    }

    .shippingForm>div>input {
        padding: 1rem;
        font-size: 15px;
    }

    .shippingForm>div>svg {
        font-size: 6vw;
        transform: translateX(3vw);
    }

    .shippingBtn {
        font-size: 15px;
        padding: 1rem;
    }
}